########################################################
# Mrknow Plugin: Sports sites list
########################################################
title=Cinema-tv.xyz
director=cinema-tv.eu
icon=sports.devil.image
url=tv/cinema-tv.eu.cfg
########################################################
title=Cyberms.pl
director=Cyberms.pl
icon=sports.devil.image
url=tv/cyberms.pl.cfg
########################################################
title=EskaGo.pl
director=EskaGo.pl
icon=sports.devil.image|eskago.png
url=tv/eskago.pl.cfg
########################################################
#title=Darmowe.tv
#director=cinema-tv.eu
#icon=sports.devil.image|darmowetv.png
#url=tv/darmowe.tv.cfg
########################################################
#title=Filmbox.tv
#director=Filmbox
#icon=sports.devil.image|filmboxmoovie.png
#url=tv/filmbox.pl.cfg
########################################################
title=iKlub.net [działa 90% kanalow]
director=iklub.net
icon=sports.devil.image
url=tv/iklub.net.cfg
########################################################
title=Itivi.tv
director=itivi.pl
icon=sports.devil.image|darmowetv.png
url=tv/itivi.pl.cfg
########################################################
#title=KlubTV.eut [nie działa 20% kanalow]
#director=klubtv.eu
#icon=sports.devil.image
#url=tv/klubtv.eu.cfg
########################################################
title=Looknij.tv [dziala slabo]
director=looknijtv
icon=sports.devil.image|looknij.png
url=tv/looknij.tv.cfg
########################################################
#title=pivotv.pl
#director=pivotv.pl
#icon=sports.devil.image|pivotv.png
#url=tv/pivotv.pl.cfg
########################################################
#title=Screen-tv.eu [nie działa 80% kanalow]
#director=screen-tv.pl
#icon=sports.devil.image|screen-tv.png
#url=tv/screen-tv.pl.cfg
########################################################
title=Telewizjada
director=Telewizjada
icon=sports.devil.image|telewizjada.png
url=tv/telewizjada.net.cfg
########################################################
#title=TvPlayer.com
#director=TvPlayer.com
#icon=sports.devil.image|mojetyper.png
#url=tv/tvplayer.com.pl.cfg
########################################################
#title=Vidtv.pl
#director=vidtv.pl
#icon=sports.devil.image|vidtv.png
#url=tv/vidtv.pl.cfg
########################################################
title=Wizja.tv [uwaga obejrzenie blokuje na 2 minuty oglądanie nowych kanalow]
director=Wizja.tv
icon=sports.devil.image|wizjatv.png
url=tv/wizja.tv.cfg
########################################################
#title=zobacz-tv.eu
#director=zobacz-tv.eu
#icon=sports.devil.image|zobacztv.png
#url=tv/zobacztv.cfg
########################################################

