<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="ogolne">
        <setting id="autoplay" type="bool" label="auto odtwarzanie" default="true"/>
        <setting id="playerType" type="enum" values="Auto|MPlayer|DVDPlayer|AMLPlayer" label="Typ Playera" default="0"/>
        <setting id="quality" type="text" label="Quality" visible="false" default="0"/>
        <setting id="last_ua_create" type="text" label="last_ua_create" visible="false" default="0"/>
        <setting id="current_ua" type="text" label="current_ua" visible="false" default="0"/>

    </category>
        <category label="TVN Player">
                <setting id="tvn_quality" type="labelenum" label="Jakość" values="Maksymalna|HD|Bardzo wysoka|Wysoka|Standard|Średnia|Niska|Bardzo niska" default="Maksymalna"/>
                <setting id="tvn_sort" type="labelenum" label="Sortuj" values="Alfabetycznie|Ostatnio Dodane" default="Alfabetycznie"/>
                <setting id="tvn_platform" type="labelenum" label="Platforma" values="Panasonic" default="Panasonic"/>
                <setting label="Używaj proxy z PL. Lista - http://spys.ru/free-proxy-list/PL/" type="lsep"/>

                <setting id="tvn_proxy" type="bool" label="Użyj Proxy" default="false"/>
                <setting id="pl_proxy" type="text" label="Proxy host" default=""/>
		        <setting id="pl_proxy_port" type="text" label="Proxy port" default=""/>
        </category>

    <category label="Tylko dla dorosłych">
        <setting id="adults" type="bool" label="Pokazuj filmy dla dorosłych" default="false"/>
    </category>
    <category label="cda.pl">
        <setting id="cda_show_rate" type="bool" label="Wybież jakość filmu ręcznie" default="false" />
        <setting type="sep"/><setting label="Logowanie do cda.pl" type="lsep"/>
        <setting id="cdapl_user" type="text" label="Nazwa użytkownika" default=""/>
        <setting id="cdapl_pass" type="text" label="Hasło" option="hidden" default=""/>

    </category>
    <category label="wrzuta.pl">
        <setting type="lsep" label="zaloguj sie do serwisu"/>
        <setting id="wrzuta_login" type="bool" label="Zaloguj się" default="false" />
        <setting type="sep"/>
        <setting type="lsep" label="Login i hasło" />
        <setting id="wrzuta_user" type="text" label="login" default="" />
        <setting id="wrzuta_pass" type="text" label="hasło" option="hidden"  default="" />
    </category>

</settings>
