<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30800">
		<setting id="xxxmode" type="bool" label="30799"   default="flase" />
		<setting id="appearance" type="select" label="30801" values="-|Standard|Clean" default="standard" />
		<setting id="fanart" type="bool" label="30802" default="true" visible="false" />
		<setting id="infoLang" visible="false" type="select" label="30803" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" default="en" />
		<setting id="playback_quality" visible="false"  type="enum" label="30831" values="1080p|720p|SD|LQ" default="0" />
		<setting type="sep" />
		<setting id="sources_timeout_40" type="slider" label="30804" default="40" range="10,60" option="int" />
		<setting label="40010" type="lsep"/>
 		<setting id="pl_proxy" type="text" label="40011" default=""/>
		<setting id="pl_proxy_port" type="text" label="40012" default=""/>
	</category>

	<category label="30910">
		<setting type="lsep" label="Ipla.tv" />
		<setting id="ipla.user" type="text" label="41017" default="" />
		<setting id="ipla.pass" type="text" option="hidden" visible="true" label="41018" default="" />
		<setting id="ipla.passwdmd5" type="text" visible="false" default="" />
		<setting id="ipla.systemid" type="text" visible="false" default="" />

		<setting type="lsep" label="Itivi.pl" />
		<setting id="itivi.user" type="text" label="41013" default="" />
		<setting id="itivi.pass" type="text" option="hidden" visible="true" label="41014" default="" />
		<setting type="lsep" label="Looknij" />
		<setting id="looknij.user" type="text" label="41015" default="" />
		<setting id="looknij.pass" type="text" option="hidden" visible="true" label="41016" default="" />
		<!--
		<setting type="lsep" label="Pierwsza.tv" />
		<setting id="pierwszatv.user" type="text" label="41005" default="" />
		<setting id="pierwszatv.password" type="text" option="hidden" visible="true" label="41006" default="" />
		<setting id="pierwszatv.tokenExpireIn" type="text" visible="false" default="" />
		<setting id="pierwszatv.serverId" type="text" visible="false" default="" />
		<setting id="pierwszatv.streamId" type="text" visible="false" default="" />
		<setting id="pierwszatv.token" type="text" visible="false" default="" />
		-->
		<setting type="lsep" label="Videostar.pl" />
		<setting id="videostar.user" type="text" label="41001" default="" />
		<setting id="videostar.pass" type="text" option="hidden" visible="true" label="41002" default="" />
		<setting id="videostar.sess" type="text"  visible="false"  default="" />
		<setting type="lsep" label="weeb.tv" />
		<setting id="weeb.user" type="text" label="41009" default="" />
		<setting id="weeb.pass" type="text" option="hidden" visible="true" label="41010" default="" />
		<setting type="lsep" label="wizja.tv" />
		<setting id="wizja.user" type="text" label="41011" default="" />
		<setting id="wizja.pass" type="text" option="hidden" visible="true" label="41012" default="" />
		<setting type="lsep" label="Yoy.tv" />
		<setting id="yoytv.user" type="text" label="41007" default="" />
		<setting id="yoytv.pass" type="text" option="hidden" visible="true" label="41008" default="" />
		<setting id="yoytv.sess" type="text"  visible="false"  default="" />
	</category>
<!--	<category label="30920">
		<setting id="movie_library" type="folder" label="30922" default="special://userdata/addon_data/plugin.video.milenium/Movies" />
		<setting id="tv_library" type="folder" label="30923" default="special://userdata/addon_data/plugin.video.milenium/TVShows" />
		<setting type="lsep" label="30921" />
		<setting type="sep" />
		<setting id="service_update" type="bool" label="30924" default="true" />
		<setting id="service_notification" type="bool" label="30925" default="true" />
		<setting type="sep" />
		<setting id="update_library" type="bool" label="30926" default="true" />
		<setting id="check_library" type="bool" label="30927" default="true" />
		<setting type="sep" />
		<setting id="check_movie_link" type="bool" label="30928" default="false" />
		<setting id="check_episode_link" type="bool" label="30929" default="false" />
	</category>
	<category label="30950">
		<setting id="movie_downloads" type="folder" label="30951" default="" />
		<setting id="tv_downloads" type="folder" label="30952" default="" />
	</category>-->
	<setting id="current_ua" type="text" visible="false"/>
    <setting id="last_ua_create" type="number" default="0" visible="false"/>

</settings>
