<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	
	<category label="xbmcfilm.com">
		<setting type="lsep" label="30010"/>
		<setting id="xbmcfilm_user" type="text" label="30012" default="" />
		<setting id="xbmcfilm_pass" type="text" label="30013" option="hidden"  default="" />
		<setting id="retries" type="slider" label="30202" range="1,1,10" default="5" option="int"/>
	</category>

</settings>
