########################################################
# http://www.filmon.com
########################################################

@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@

start=http://www.filmon.com/group

item_infos=<li class="group-item">\s*<a href="([^"]+)">\s*<img class="logo" src="([^"]+)" title="[^"]+" style="[^"]+" />\s*<span class="group-title">([^<]+)</span>
item_order=url.tmp|icon|title
item_skill=rss

item_info_name=cfg
item_info_build=filmon.com.cfg@Channels

item_info_name=url
item_info_from=url.tmp
item_info_build=http://www.filmon.com%s

item_url_build=%s

@ENDIF@
@ENDIF@

@IF(@PARAM1@==Channels)@
skill=videoTitle

item_infos=<a href="([^"]+)" class="clearfix" onclick="return false;">\s*<img class="channel_logo" src="([^"]+)" title="([^"]+)
item_order=url.tmp|icon|title
item_skill=rss

item_info_name=cfg
item_info_from=url.tmp
item_info_build=filmon.com.cfg@Streams

item_info_name=url
item_info_from=url.tmp
item_info_build=http://www.filmon.com%s

item_url_build=%s

@ENDIF@


@IF(@PARAM1@==Streams)@

item_infos=filmon.com/channel/([\w_-]+)
item_precheck=filmon.com
item_order=video
@CATCH(filmon,video)@

@ENDIF@
