########################################################
# http://itivi.pl
########################################################
sort=name
@IF(@PARAM1@!=CATCH)@

sort=name
skill=videoTitle
catcher=streams

start=http://itivi.pl/program-telewizyjny/

#item_infos=<li><a href="([^"]+)"><img src="([^"]+)" alt="([^"]+)"class="image-neg"/><img src="([^"]+)" alt="([^"]+)"class="image-pos"/><b>([^<]+)</b></a></li>
item_infos=<a href="([^"]+)"><img alt="([^"]+)" src="([^"]+)" style="width:155px;height:155px; float:left; margin: 30px; border: 1px solid #CCC; border-radius: 30px;"/></a>
item_order=url.tmp|title.tmp|img.tmp

item_info_name=title
item_info_from=title.tmp
item_info_convert=replace('%s','Telewizja online - ','')
item_info_build=%s

item_info_name=icon
item_info_from=img.tmp
item_info_build=http://itivi.pl/%s

item_info_name=url
item_info_from=url.tmp
item_info_build=%s



item_url_build=http://itivi.pl/program-telewizyjny/%s

@ENDIF@

@IF(@PARAM1@==CATCH)@
#skill=allowDuplicates
catcher=streams

item_infos=<iframe width="640px" height="500px" src="([^"]+)" scrolling="no" frameborder="0px"></iframe>
item_order=url.tmp

item_info_name=url
item_info_from=url.tmp
item_info_build=%s

item_url_build=%s

@ENDIF@