########################################################
# Mrknow Plugin: Sports sites list
########################################################
#title=Cinema-tv.pl
#director=cinema-tv.eu
#icon=sports.devil.image
#url=tv/cinema-tv.eu.cfg
########################################################
title=Darmowe.tv
director=cinema-tv.eu
icon=sports.devil.image|darmowetv.png
url=tv/darmowe.tv.cfg
########################################################
title=Filmbox.tv
director=Filmbox
icon=sports.devil.image|filmboxmoovie.png
url=tv/filmbox.pl.cfg
########################################################
title=iKlub.net
director=iklub.net
icon=sports.devil.image
url=tv/iklub.net.cfg
########################################################
title=Itivi.tv [serwis testowy]
director=itivi.pl
icon=sports.devil.image|darmowetv.png
url=tv/itivi.pl.cfg
########################################################
title=pivotv.pl
director=pivotv.pl
icon=sports.devil.image|looknij.png
url=tv/pivotv.pl.cfg
########################################################
title=Screen-tv.eu
director=screen-tv.pl
icon=sports.devil.image|screen-tv.png
url=tv/screen-tv.pl.cfg
########################################################
title=Telewizjada [dziala najlepiej]
director=Telewizjada
icon=sports.devil.image|telewizjada.png
url=tv/telewizjada.net.adult.cfg
########################################################
title=Typer TV
director=Typer TV
icon=sports.devil.image|mojetyper.png
url=tv/typertv.com.pl.cfg
########################################################
title=Vidtv.pl
director=vidtv.pl
icon=sports.devil.image|vidtv.png
url=tv/vidtv.pl.cfg
########################################################
#title=Yoy.tv
#director=Yoy.tv
#icon=sports.devil.image|
#url=tv/yoy.tv.cfg
########################################################
title=zobacz-tv.eu
director=zobacz-tv.eu
icon=sports.devil.image|zobacztv.png
url=tv/zobacztv.cfg
########################################################

