<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30800">
		<setting id="appearance" type="select" label="30801" values="-|4orbs|Clean|Embossed|GOne|Metro" default="GOne" />
		<setting id="fanart" type="bool" label="30802" default="true" />
		<setting id="infoLang" type="select" label="30803" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" default="en" />
		<setting type="sep" />
		<setting id="sources_timeout_40" type="slider" label="30804" default="40" range="10,120" option="int" />
		<setting type="sep" />
		<setting type="lsep" label="30805" />
		<setting id="movie_widget" type="enum" label="30806" lvalues="30807|30808|30809|30810" default="1" />
		<setting id="tv_alt_widget" type="enum" label="30811" lvalues="30812|30813|30814|30815|30816" default="3" visible="!eq(-1,)+!eq(-2,)" />
		<setting id="tv_widget" type="enum" label="30811" lvalues="30812|30813|30814" default="1" visible="eq(-2,)|eq(-3,)" />
		<setting id="calendar_widget" type="enum" label="30817" lvalues="30818|30819" default="0" />
	</category>
	<category label="30830">
		<setting id="playback_quality" type="enum" label="30831" values="1080p|720p|HQ|MQ|LQ" default="0" />
		<setting id="host_select" type="enum" label="30832" lvalues="30833|30834" default="1" enable="eq(6,false)" />
		<setting type="lsep" label="30835" />
		<setting id="playback_captcha_hosts" type="bool" label="30836" default="true" />
		<setting id="playback_1080p_hosts" type="bool" label="30837" default="true" />
		<setting id="playback_720p_hosts" type="bool" label="30838" default="true" />
		<setting type="lsep" label="30839" />
		<setting id="autoplay" type="bool" label="30840" default="false" />
		<setting id="autoplay_library" type="bool" label="30841" default="false" />
		<setting id="playback_auto_sd" type="bool" label="30842" default="true" />
		<setting type="lsep" label="30843" />
		<setting id="resume_playback" type="bool" label="30844" default="true" />
		<setting id="playback_info" type="bool" label="30845" default="false" />
	</category>
	<category label="30860">
		<setting id="dayt" type="bool" label="Dayt" default="true" />
		<setting id="easynews" type="bool" label="Easynews" default="false" />
		<setting id="fmovies" type="bool" label="Fmovies" default="true" />
		<setting id="icefilms" type="bool" label="Icefilms" default="true" />
		<setting id="iwatchonline" type="bool" label="Iwatchonline" default="false" />
		<setting id="movie25" type="bool" label="Movie25" default="false" />
		<setting id="movietubev2" type="bool" label="Movietube" default="true" />
		<setting id="movienight" type="bool" label="Movienight" default="true" />
		<setting id="muchmovies" type="bool" label="Muchmovies" default="true" />
		<setting id="oneclickwatch" type="bool" label="Oneclickwatch" default="true" />
		<setting id="pelispedia" type="bool" label="Pelispedia" default="true" />
		<setting id="primewire" type="bool" label="Primewire" default="true" />
		<setting id="pubfilm" type="bool" label="Pubfilm" default="true" />
		<setting id="putlocker" type="bool" label="Putlocker" default="true" />
		<setting id="rainierland" type="bool" label="Rainierland" default="true" />
		<setting id="tunemovie" type="bool" label="Tunemovie" default="true" />
		<setting id="watchfree" type="bool" label="Watchfree" default="false" />
		<setting id="wmonline" type="bool" label="WMOnline" default="true" />
		<setting id="vidics" type="bool" label="Vidics" default="true" />
		<setting id="xmovies" type="bool" label="Xmovies" default="true" />
	</category>
	<category label="30861">
		<setting id="animeultima_tv" type="bool" label="Animeultima" default="false" />
		<setting id="dayt_tv" type="bool" label="Dayt" default="true" />
		<setting id="directdl_tv" type="bool" label="Directdownload" default="false" />
		<setting id="dizibox_tv" type="bool" label="Dizibox" default="true" />
		<setting id="dizigold_tv" type="bool" label="Dizigold" default="true" />
		<setting id="dizilab_tv" type="bool" label="Dizilab" default="true" />
		<setting id="dizimag_tv" type="bool" label="Dizimag" default="true" />
		<setting id="easynews_tv" type="bool" label="Easynews" default="false" />
		<setting id="fmovies" type="bool" label="Fmovies" default="true" />
		<setting id="icefilms_tv" type="bool" label="Icefilms" default="true" />
		<setting id="iwatchonline_tv" type="bool" label="Iwatchonline" default="false" />
		<setting id="muchmovies_tv" type="bool" label="Muchmovies" default="true" />
		<setting id="moviefarsiv2_tv" type="bool" label="Moviefarsi" default="false" />
		<setting id="moviestorm_tv" type="bool" label="Moviestorm" default="false" />
		<setting id="oneclickwatch_tv" type="bool" label="Oneclickwatch" default="true" />
		<setting id="ororo_tv" type="bool" label="Ororo" default="true" />
		<setting id="primewire_tv" type="bool" label="Primewire" default="true" />
		<setting id="pelispedia_tv" type="bool" label="Pelispedia" default="true" />
		<setting id="pubfilm_tv" type="bool" label="Pubfilm" default="true" />
		<setting id="putlocker_tv" type="bool" label="Putlocker" default="true" />
		<setting id="sezonlukdizi_tv" type="bool" label="Sezonlukdizi" default="true" />
		<setting id="tunemovie_tv" type="bool" label="Tunemovie" default="true" />
		<setting id="tvrelease_tv" type="bool" label="TVrelease" default="true" />
		<setting id="vidics_tv" type="bool" label="Vidics" default="true" />
		<setting id="watchfree_tv" type="bool" label="Watchfree" default="true" />
		<setting id="wsonline_tv" type="bool" label="WSOnline" default="true" />
		<setting id="watchseries_tv" type="bool" label="Watchseries" default="true" />
		<setting id="onlinedizi_tv" type="bool" label="Onlinedizi" default="true" />

	</category>
	<category label="30870">
		<setting id="hosthd50001" type="select" label="30881" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="GVideo" />
		<setting id="hosthd50002" type="select" label="30882" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="VK" />
		<setting id="hosthd50003" type="select" label="30883" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Uptobox" />
		<setting id="hosthd50004" type="select" label="30884" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Filepup" />
		<setting id="hosthd50005" type="select" label="30885" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Openload" />
		<setting id="hosthd50006" type="select" label="30886" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Muchmovies" />
		<setting id="hosthd50007" type="select" label="30887" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="YIFY" />
		<setting id="hosthd50008" type="select" label="30888" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Sezonlukdizi" />
		<setting id="hosthd50009" type="select" label="30889" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="180upload" />
		<setting id="hosthd50010" type="select" label="30890" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Mightyupload" />
		<setting id="hosthd50011" type="select" label="30891" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Clicknupload" />
		<setting id="hosthd50012" type="select" label="30892" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Tusfiles" />
		<setting id="hosthd50013" type="select" label="30893" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Grifthost" />
		<setting id="hosthd50014" type="select" label="30894" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Videomega" />
		<setting id="hosthd50015" type="select" label="30895" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Primeshare" />
		<setting id="hosthd50016" type="select" label="30896" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="iShared" />
		<setting id="hosthd50017" type="select" label="30897" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Vidplay" />
		<setting id="hosthd50018" type="select" label="30898" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="V-vids" />
		<setting id="hosthd50019" type="select" label="30899" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Mrfile" />
		<setting id="hosthd50020" type="select" label="30900" values="-|180upload|Allvid|Clicknupload|Cloudyvideos|Dizibox|Dizimag|Sezonlukdizi|Filepup|GVideo|Grifthost|Hugefiles|Ipithos|iShared|Movie25|Mailru|Mightyupload|Moviefarsi|MovieTV|Mrfile|Muchmovies|MVsnap|Openload|Primeshare|Promptfile|Skyvids|Turbovideos|Tusfiles|Uploadc|Uploadrocket|Uptobox|V-vids|VK|Videomega|Vidlockers|Xfileload|YIFY|Zalaa|Zettahost|zStream" default="Uploadc" />
	</category>
	<category label="30871">
		<setting id="host50001" type="select" label="30881" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Ororo" />
		<setting id="host50002" type="select" label="30882" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Animeultima" />
		<setting id="host50003" type="select" label="30883" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="180upload" />
		<setting id="host50004" type="select" label="30884" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Mightyupload" />
		<setting id="host50005" type="select" label="30885" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Clicknupload" />
		<setting id="host50006" type="select" label="30886" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Tusfiles" />
		<setting id="host50007" type="select" label="30887" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Openload" />
		<setting id="host50008" type="select" label="30888" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Grifthost" />
		<setting id="host50009" type="select" label="30889" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Uptobox" />
		<setting id="host50010" type="select" label="30890" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Promptfile" />
		<setting id="host50011" type="select" label="30891" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Primeshare" />
		<setting id="host50012" type="select" label="30892" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="iShared" />
		<setting id="host50013" type="select" label="30893" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Vidplay" />
		<setting id="host50014" type="select" label="30894" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Mrfile" />
		<setting id="host50015" type="select" label="30895" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="V-vids" />
		<setting id="host50016" type="select" label="30896" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Ipithos" />
		<setting id="host50017" type="select" label="30897" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Zettahost" />
		<setting id="host50018" type="select" label="30898" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Uploadc" />
		<setting id="host50019" type="select" label="30899" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="Zalaa" />
		<setting id="host50020" type="select" label="30900" values="-|180upload|Allmyvideos|Allvid|Animeultima|Bestreams|Clicknupload|Cloudtime|Cloudzilla|Daclips|Divxpress|Dizibox|Dizimag|Exashare|Faststream|Fastvideo|Filehoot|Filenuke|Filepup|Gorillavid|GVideo|Grifthost|Ipithos|iShared|Letwatch|Mailru|Mightyupload|Movdivx|Moviefarsi|Movpod|Movshare|Mrfile|MVsnap|Nosvideo|Novamov|Nowvideo|Openload|Ororo|Primeshare|Promptfile|Putstream|Realvid|Sharerepo|Sharesix|Skyvids|StageVu|Streamcloud|Streamin|Thefile|Thevideo|Turbovideos|Tusfiles|Up2stream|Uploadc|Uptobox|V-vids|Vidbull|Videoweed|Vidlockers|Vidspot|Vidto|Vidzi|VK|Vodlocker|Xvidstage|Youtube|Zalaa|Zettahost|zStream" default="zStream" />
	</category>
	<category label="30910">
		<setting type="lsep" label="Trakt" />
		<setting id="trakt.user" type="action" label="30142" option="close" action="RunPlugin(plugin://plugin.video.specto/?action=authTrakt)" />
		<setting id="trakt.token" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="trakt.refresh" type="text" option="hidden" visible="false" label="" default="" />
		<setting type="lsep" label="IMDb" />
		<setting id="imdb_user" type="text" label="30911" default="" />
		<setting type="lsep" label="Alluc (accounts.alluc.com)" />
		<setting id="alluc_user" type="text" label="30911" default="" />
		<setting id="alluc_password" type="text" option="hidden" label="30913" default="" />
		<setting type="lsep" label="Ororo (ororo.tv)" />
		<setting id="ororo_user" type="text" label="30912" default="" />
		<setting id="ororo_password" type="text" option="hidden" label="30913" default="" />
		<setting type="lsep" label="RealDebrid" />
		<setting id="realdebrid_auth" label="RealDebrid Authorize KODI" type="action" action="RunPlugin(plugin://plugin.video.specto/?action=realdebridauth)" option="close" visible="True"/>
        <setting id="realdebrid_token" visible="false" type="text" default=""/>
        <setting id="realdebrid_refresh" visible="false" type="text" default=""/>
        <setting id="realdebrid_client_id" visible="false" type="text" default=""/>
        <setting id="realdebrid_client_secret" visible="false" type="text" default=""/>
		<!--<setting id="realdebrid_auth" visible="false" type="text" default=""/>-->



		<setting type="lsep" label="Premiumize" />
		<setting id="premiumize_user" type="text" label="ID" default="" />
		<setting id="premiumize_password" type="text" option="hidden" label="PIN" default="" />
		<setting type="lsep" label="Easynews" />
		<setting id="easynews_user" type="text" label="30911" default="" />
		<setting id="easynews_password" type="text" option="hidden" label="30913" default="" />
		<setting type="lsep" label="Furk" />
		<setting id="furk_user" type="text" label="30911" default="" />
		<setting id="furk_password" type="text" option="hidden" label="30913" default="" />
	</category>
	<category label="30920">
		<setting id="movie_library" type="folder" label="30922" default="special://userdata/addon_data/plugin.video.specto/Movies" />
		<setting id="tv_library" type="folder" label="30923" default="special://userdata/addon_data/plugin.video.specto/TVShows" />
		<setting type="lsep" label="30921" />
		<setting type="sep" />
		<setting id="service_update" type="bool" label="30924" default="true" />
		<setting id="service_notification" type="bool" label="30925" default="true" />
		<setting type="sep" />
		<setting id="update_library" type="bool" label="30926" default="true" />
		<setting id="check_library" type="bool" label="30927" default="true" />
		<setting type="sep" />
		<setting id="check_movie_link" type="bool" label="30928" default="false" />
		<setting id="check_episode_link" type="bool" label="30929" default="false" />
	</category>
	<category label="30950">
		<setting id="movie_downloads" type="folder" label="30951" default="" />
		<setting id="tv_downloads" type="folder" label="30952" default="" />
	</category>
	<category label="30940">
		<setting id="subtitles" type="bool" label="30943" default="false" />
		<setting type="sep" />
		<setting id="autoconvert_utf8" type="bool" label="30944" enable="!eq(-2,false)" default="false" />
		<setting type="sep" />
		<setting id="sublang1" type="select" label="30945" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-4,false)" default="English" />
		<setting id="sublang2" type="select" label="30946" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-5,false)" default="English" />
		<setting type="lsep" label="[CR]" />
		<setting type="lsep" label="30941" />
		<setting type="lsep" label="30942" />
	</category>


	<setting id="current_ua" type="text" visible="false"/>
    <setting id="last_ua_create" type="number" default="0" visible="false"/>

</settings>
